.movie_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
}

.detail_con {
  display: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}

.detail_con_left {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
}
.detail_con_left img {
  width: 100%;
  max-width: 400px;
  height: 350px;
  cursor: pointer;
}
.con_left_detail {
  width: 30%;
  text-align: start;
}
.con_left_detail h2 {
  font-size: 40px;
  margin: 0;
}
.con_left_detail p {
  text-align: start;
}
.detail_con_right {
  width: 100%;
  max-width: 700px;
  color: white;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(139, 27, 27, 0.663);
}
.date_picker {
  width: 100%;
  max-width: 500px;
  padding: 1rem 1rem;
  margin: auto;
}
.details {
  width: 50%;
  max-width: 350px;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.details th,
.details td {
  padding: 8px;
  border-bottom: 1px solid white;
  color: white;
}

.details th {
  text-align: left;
  font-weight: 100;
}

.details td {
  text-align: right;
  font-weight: 500;
}
.num_seats {
  padding-top: 20px;
  font-weight: 500;
}
.con_right_details {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.con_right_details input {
  width: 29%;
  border-radius: 10px;
  border: none;
  padding: 13px;
  color: white;
  background-color: rgba(226, 208, 208, 0.566);
}
.con_right_details input::placeholder {
  color: rgb(236, 226, 226);
}
.pay_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
