.movie_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
}

.detail_con {
  display: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail_con_left {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
}
.detail_con_left img {
  width: 100%;
  max-width: 400px;
  height: 350px;
  cursor: pointer;
}
.con_left_detail {
  width: 30%;
  text-align: start;
}
.con_left_detail h2 {
  font-size: 40px;
  margin: 0;
}
.con_left_detail p {
  text-align: start;
}
.detail_con_right {
  width: 100%;
  max-width: 800px;
  color: black;
  margin: auto;
  padding-top: 1rem;
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  /* background-color: rgba(182, 104, 104, 0.76); */
  background-color: rgba(209, 174, 174, 0.748);
}
.date_picker {
  width: 100%;
  max-width: 500px;
  padding: 1rem 1rem;
  margin: auto;
}
