.seat_picker {
  text-align: center;
}

.seat_map {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.seat_row {
  display: flex;
  gap: 0.5rem;
}

.seat,
.empty_seat {
  width: 40px;
  height: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.seat.selected {
  background-color: rgba(226, 208, 208, 0.566);
  color: white;
}

.empty_seat {
  visibility: hidden;
}

.selected_seats {
  margin-top: 1rem;
  text-align: center;
}

.seat.occupied {
  background-color: rgb(58, 99, 203);
  color: white;
  cursor: not-allowed;
}
