.button {
  color: #ffffff;
  background-color: rgba(45, 12, 12, 0.508);
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.button:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.7);
}
