:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #191925; */
  color: white;
  background-image: url("./assets/red-chair-room.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* -------------------------------------BOOK MOVIE PAGE--------------- */

/* .dropdown-icon {
  width: 10%;
  margin-left: 10px;
  filter: invert(1);
} */

.booking_page_left_logo {
  width: 60px;
  filter: invert(1);
}
/* -------------------------------------CONTACT PAGE--------------- */
.contact_page_left_logo {
  margin-top: 6px;
  width: 35px;
  height: 35px;
  filter: invert(1);
}
@media only screen and (max-width: 850px) {
  .contact_page_left_logo {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 495px) {
  .contact_page_left_logo {
    width: 25px;
    height: 25px;
  }
}
/* -------------------------------------LOCATION PAGE--------------- */
.location_page_left_logo {
  margin-top: 6px;
  width: 35px;
  height: 35px;
  filter: invert(1);
}
@media only screen and (max-width: 850px) {
  .location_page_left_logo {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 495px) {
  .location_page_left_logo {
    width: 25px;
    height: 25px;
  }
}
